<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <service android:name="com.tpstream.player.VideoDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <meta-data android:name="io.sentry.dsn" android:value="https://d384a4c918c947a3b68a1af0c8d59343@sentry.testpress.in/10" />

        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />

        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />

    </application>

</manifest>